<div class="jumbotron">
    Vest HQ
</div>Employee
<div class="row">
    <ul>
        <li>
            <a href="@Url.Action("../employer/index")">Employers</a>
        </li>
        <li>
            <a href="@Url.Action("../employee/index")">Employees</a>
        </li>
        <li>
            <a href="@Url.Action("../Stock/index")">Stocks</a>
        </li>
        <li>
            <a href="@Url.Action("../StockPriceHistory/index")">Stock Price History</a>
        </li>
    </ul>
</div>
