<div class="jumbotron">
    Vest HQ
</div>
<div class="row">
    <ul>
        <li>
            <a href="@Url.Action("../employer/index")">Employers</a>
        </li>
        <li>
            <a href="@Url.Action("../cust/index")">Customers</a>
        </li>
        <li>
            <a href="@Url.Action("../Stock/index")">Stocks</a>
        </li>
        <li>
            <a href="@Url.Action("../StockPriceHistory/index")">Stock Price History</a>
        </li>
    </ul>
</div>
