<div class="jumbotron">
    Vest HQ
</div>Employee
<div class="row">
    <ul>
        <li>
            <a href="@Url.Action("../employer/index")">Employers</a>
        </li>
        <li>
            <a href="@Url.Action("../employee/index")">Employees</a>
        </li>
        <li>
            <a href="@Url.Action("../Fund/index")">Funds</a>
        </li>
        <li>
            <a href="@Url.Action("../FundPriceHistory/index")">Fund Price History</a>
        </li>
    </ul>
</div>
